:root {
    --bg-light-color: #C0CED1;
    --bg-lightblue-color: #6298BC;
    --bg-medblue-color: #144361;
    --bg-verydarkblue-color: #071C34;
}

html {
    background-color: var(--bg-light-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

#top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 9vh;
    width: 100%;
    padding: 10px 0;
    font-size: 1.3vh;
    color: var(--bg-light-color);
    border-bottom: 5px solid var(--bg-lightblue-color);
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.4);
    background-color: var(--bg-medblue-color);
}

#header-nav {
    display: flex;
    align-items: center;
    height: 96.406px;
    margin: 0px 20px;
}

#header-h1 {
    width: 350px;
}

.nav-button {
    width: 100px;
    height: 30px;
    margin: 5px 10px;
    border: none;
    border-radius: 10px 5px;
    font-weight: bold;
    background-color: var(--bg-light-color);
    background-image: linear-gradient(to right, var(--bg-lightblue-color) 40%, var(--bg-light-color) 60%);
    background-size: 300% 100%;
    background-position: 100%;
    transition: background-position 1s,
     color 1s;
    cursor: pointer;
}

.nav-button:hover {
    background-position: 0%;
    color: white;
    cursor: pointer;
}

.nav-button:active {
    opacity: 0.6;
}

.nav-button a {
    text-decoration: none;
    color: black;
}

/* Responsiveness with Header and Navigation below */

@media screen and (max-width: 754px) {
    #top-header {
        flex-direction: column;
    }
    #top-header h1 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 475px) {
    #header-nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    #top-header {
        height: 15vh;
    }
}

#about-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 150px;
    font-size: 25px;
    background-color: var(--bg-verydarkblue-color);
    color: var(--bg-light-color);
    border-top: 5px solid var(--bg-lightblue-color);
    border-bottom: 5px solid var(--bg-lightblue-color);
}

#about-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-img img {
    border-radius: 50px 20px;
    width: 30vh;
    height: 400px;
    margin: 15px 15px;
    box-shadow: 0 0 15px var(--bg-lightblue-color);
    transition: box-shadow 1s;
}

#about-img img:hover {
    box-shadow: 0 0 30px var(--bg-light-color);

}

#about-text {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 500px;
    border-radius: 25px;
}

#about-text p {
    position: relative;
    padding: 0;
    margin: 55px 0;
    text-align: center;
}

#about-text h2 {
    width: 85%;
    margin-left: 25px;
    background-color: var(--bg-lightblue-color);
    color: var(--bg-verydarkblue-color);
    transition: background-color 0.5s,
        color 0.5s,
        box-shadow;
    border-radius: 20px;
    box-shadow: none;
    padding: 4px 50px;
    cursor: default;
}

#about-text h2:hover {
    background-color: black;
    color: white;
    box-shadow: 0px 0px 60px var(--bg-lightblue-color);
}

#about-text p {
    position: relative;
    padding: 10px 0;
    min-width: 50px;
    max-width: 1500px;
    border-right: 3px solid var(--bg-light-color);
    border-bottom: 3px solid var(--bg-light-color);
    background: linear-gradient(var(--bg-verydarkblue-color), var(--bg-medblue-color))
}

#work-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 300px;
    height: 600px;
    font-size: 25px;
    background-color: var(--bg-verydarkblue-color);
    color: var(--bg-light-color);
    border-top: 5px solid var(--bg-lightblue-color);
    border-bottom: 5px solid var(--bg-lightblue-color);
}

#work-section h2 {
    margin-top: 30px;
    background-color: var(--bg-lightblue-color);
    color: var(--bg-verydarkblue-color);
    transition: background-color 0.5s,
        color 0.5s,
        box-shadow;
    border-radius: 20px;
    box-shadow: none;
    padding: 12px 50px;
    cursor: default;
}


#work-section h2:hover {
    background-color: black;
    color: white;
    box-shadow: 0px 0px 60px var(--bg-lightblue-color);
}


#work-card-containers {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap;
    position: relative;
    top: 50px;
    width: 100%;
    height: 700px;
}

.main-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 300px;
    box-shadow: 0 0 5px var(--bg-lightblue-color);
    border-radius: 20px;
    transition: box-shadow 1s;
    cursor: pointer;
}

.main-card:hover {
    box-shadow: 0 0 15px var(--bg-light-color);
}

.main-card-1 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 350px;
    transition: box-shadow 1s;
    cursor: pointer;
}

.main-card-1 header {
    background-color: var(--bg-medblue-color);
    border-radius: 20px 20px 0 0;
}

.main-card-1:hover {
    box-shadow: 0 0 15px var(--bg-light-color);
}

.main-card header {
    background-color: var(--bg-medblue-color);
    border-radius: 20px 20px 0 0;
}

.main-card-pic img {
    position: relative;
    width: 100%;
    height: 265px;
    filter: grayscale(30%);
    border-radius: 0 0 20px 20px;
    transition: filter 0.8s;
}

.main-card-pic-main {
    width: 100%;
    height: 100%;
}

.main-card-pic-main img {
    position: relative;
    width: 100%;
    height: 315px;
    filter: grayscale(30%);
    border-radius: 0 0 20px 20px;
    transition: filter 0.8s;
}

.main-card-pic img:hover {
    filter: grayscale(0%);
}

.main-card-pic-main img:hover {
    filter: grayscale(0%);
}

#page-footer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    top: 300px;
    width: 100%;
    background-color: pink;
    background-color: var(--bg-verydarkblue-color);
    border-top: 5px solid var(--bg-lightblue-color);
    border-bottom: 5px solid var(--bg-lightblue-color);
}

#page-footer h3 {
    margin-top: 30px;
    background-color: var(--bg-lightblue-color);
    color: var(--bg-verydarkblue-color);
    transition: background-color 0.5s,
        color 0.5s,
        box-shadow;
    border-radius: 20px;
    box-shadow: none;
    padding: 12px 50px;
    cursor: default;
}

#page-footer h3:hover {
    background-color: black;
    color: white;
    box-shadow: 0px 0px 60px var(--bg-lightblue-color);
}

#links-footer {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

.links-footer-text {
    color: black;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px 5px;
    margin: 80px 0;
    background-color: var(--bg-light-color);
    background-image: linear-gradient(to right, var(--bg-lightblue-color) 40%, var(--bg-light-color) 60%);
    background-size: 300% 100%;
    background-position: 100%;
    transition: background-position 1s,
     color 1s;
    cursor: pointer;
}

.links-footer-text:hover {
    background-position: 0%;
    color: white;
    cursor: pointer;
}

#links-footer a {
    text-decoration: none;
    color: black;
}




/* Responsiveness of the about section and order change */

@media screen and (max-width: 1081px) {
    #about-section {
        flex-direction: column;
        font-size: 20px;
    }
    #about-text p {
        border-right: none;
    }
    #about-img img {
        order: 2;
    }
    #about-text {
        order: 1;
        align-items: center;
    }
    #about-text h2 {
        margin-left: 0px;
        width: 50%;
    }
    #work-section {
        height: 1500px;
    }
    #work-card-containers {
        flex-direction: column;
    }
    #page-footer {
        top: 850px;
    }
    .links-footer-text {
        font-size: 15px;
    }
}

@media screen and (max-width: 406px) {
    #about-section {
        height: 1200px;
    }
    #about-text {
        align-items: center;
    }
    #about-text h2 {
        margin-left: 0px;
        width: 50%;
    }
}



